<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vedant | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    
<!-- navbar -->

    <nav>
        <div class="logo">
        <h1>Web Developer</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/"></a>Home</li>
            <li><a href="/about"></a>About</li>
            <li><a href="/projects"></a>Projects</li>
            <li><a href="/contact"></a>Contact</li>
        </ul>
    </nav>
<div class="info">
    <fieldset class="details">
        <h2>Hello I'm <br> <span>Vedant Patil</span></h2>
        <h3>A Computer Engineering Student</h3>
        <p>I love building modern websites, Flask applications,
            and innovative software solutions.</p>
    </fieldset>

    <fieldset class="img">
        <img src="{{ url_for('static',filename='images/me.png') }}" alt="Developer">
    </fieldset>
</div>
</body>
</html>